/* Färgkoder, fontstyling */

// Färgkoder
$main-color: #2B3B20; // Huvudmeny 
$footer-links: #B3653E; // Länkar i footer
$open-hours: rgba(42, 56, 34, 0.1);// Bakgrundsfärg


// Fontstyling
$font-stack: "Oswald", sans-serif;
$second-headings: 36px;
$text-size: 18px;
