/* Färgkoder, fontstyling */

// Färgkoder
$main-color: #2B3B20; // Huvudmeny + footer
$footer-links: #B3653E; // Länkar i footer
$open-hours: rgba(42, 56, 34, 0.1);// Bakgrundsfärg

// Knappar
$login-btn: #203311;

// Fontstyling
$font-stack: "Oswald", sans-serif;

$second-headings: 36px;