@use "base";

// Rubriker
.second-heading {
    font-size: base.$second-headings;
}

//Felmeddelande
#error-message {
    color: red;
    font-family: 'Oswald', sans-serif;
    margin: 10px 10px;
}


//Knappar
@mixin button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}


#newMeal:hover {
    background-color: #22271e;
}

// Formulär
// Logga in-formulär
#login-container {
    border: 2px solid #000;
}
#login-container form {
    display: flex;
    flex-direction: column;
}

#login-container label {
    font-size: 16px;
    color: #e9e9e9;
    margin-bottom: 5px;
}

#login-container input[type="text"],
#login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 5px;
}

/*  lägg till maträtt */
#new-meal {
    padding: 20px;
    border: 2px solid #313131;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #222;
    }
  
    label {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5%;
      color: #222;
    }
  
    input[type="text"],
    input[type="number"],
    textarea,
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      color: #222;
    }
  }

// Redigera maträtt-formulör
#update-meal {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

#update-meal label {
    font-size: 16px;
    color: #181818;
    margin-bottom: 5px;
}

#update-meal input[type="text"],
#update-meal textarea,
#update-meal input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

// Skapa konto-formulär
#userForm form {
    display: flex;
    flex-direction: column;
    border: 2px solid #000; 
    padding: 20px; 
}

#userForm label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
}

#userForm input[type="text"],
#userForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000; 
    border-radius: 5px;
}

#userForm button {
    background-color: #526245;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#userForm button:hover {
    background-color: #22271e;
}

// Lägg till recension-formulär

