@use "base";

// Rubriker
.second-heading {
    font-size: base.$second-headings;
}

//Felmeddelande
#error-message {
    color: red;
    font-family: 'Oswald', sans-serif;
    margin: 10px 10px;
}

// Pop-up
.popup {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
    background-color: #226124;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.popup.show {
    opacity: 1;
}

.popup.hidden {
    opacity: 0;
}

//Knappar
@mixin button {
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#newMeal:hover {
    background-color: #22271e;
}

// Formulär
// Logga in-formulär
#login-container {
    border: 2px solid #000;
}
#login-container form {
    display: flex;
    flex-direction: column;
}

#login-container label {
    font-size: 16px;
    color: #e9e9e9;
    margin-bottom: 5px;
}

#login-container input[type="text"],
#login-container input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000;
    border-radius: 5px;
}

/*  lägg till maträtt */
#new-meal {
    padding: 20px;
    border: 2px solid #313131;
    border-radius: 10px;
    width: 100%;
    margin: 20px auto;
    max-width: 600px;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #222;
    }
  
    label {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5%;
      color: #222;
    }
  
    input[type="text"],
    input[type="number"],
    textarea,
    select {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      color: #222;
    }
  }


// Redigera maträtt-formulör
#update-meal {
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}

#update-meal label {
    font-size: 16px;
    color: #181818;
    margin-bottom: 5px;
}

#update-meal input[type="text"],
#update-meal textarea,
#update-meal input[type="number"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

// Skapa konto-formulär
#userForm {
    width: 60%;
    margin: 0 auto 10%;
}


#userForm label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
}

#userForm input[type="text"],
#userForm input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000; 
    border-radius: 5px;
}


// Lägg till recension-formulär
  #addReview {
    padding: 20px;
    border: 2px solid #313131;
    border-radius: 10px;
    margin-bottom: 20px;
    width: 100%;
    max-width: 600px;
  
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #222;
    }
  
    label {
      font-weight: bold;
      font-size: 18px;
      margin-bottom: 5%;
      color: #222;
    }
  
    input[type="text"],
    input[type="number"],
    textarea {
      width: 100%;
      padding: 10px;
      margin-bottom: 15px;
      border: 1px solid #ccc;
      border-radius: 5px;
      font-size: 16px;
      color: #222;
    }
    input[type="radio"] {
        margin-top: 16px;
        width: 50px;
        transform: scale(1.5);
    }
    #rating-input label[for="rev-rate-5"] {
        margin-right: 10px;
    }
 }

 // Skicka meddelande-formulär
 #messageForm {
    width: 80%;
    margin: 0 auto 10%;
}


#messageForm label {
    font-size: 16px;
    color: #000000;
    margin-bottom: 5px;
}

#messageForm input[type="text"],
#messageForm textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #000; 
    border-radius: 5px;
}