@use "base";
@use "component";

* {
    box-sizing: border-box;
}

// Laddningsikon om innehållet laddar långsamt 
#loadingMessage {
    display: none;
}

#loadingMessage i {
    font-size: 30px;
    margin-left: 10px;
    margin-bottom: 10px;
    animation-name: spinner;
    animation-timing-function: ease;
    animation-duration: 3s;
    animation-iteration-count: infinite;
   }

// Dölj skyddade routes om inte inloggad
#protected-route {
    display: none;
    width: 80%;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: base.$font-stack;
    background-color: #ececec;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    width: 100%;
    margin: 0 auto;
}

/* Huvudmeny */
header {
    position: fixed; 
    width: 100%;     
    top: 0;          
    left: 0;         
    z-index: 1000;   

    .dropdown-menu {
        background-color: base.$main-color;
        overflow: hidden;
        height: 120px;
        display: flex; 
        justify-content: space-evenly; 
        align-items: center; 
    }

    .dropdown-menu a {
        color: #fff;
        text-align: center;
        text-decoration: none;
        font-size: 24px;
        padding: 5px 25px;
    }
    
    .dropdown-menu a:hover {
        color: #B3653E;
    }

    img {
        max-height: 100px; 
    }

    .menu-button {
        display: none;
        background-color: #2B3B20;
        border: none;
        color: #ffffff;
        padding: 10px;
        font-size: 15px;
    }
}


/* Startsida */
#container {
    position: relative;
    width: 100%;
    margin-top: 8%;
    padding: 10px 10px;

    img {
        width: 100%;
        height: auto;
    }
    h1 {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        background: rgba(0, 0, 0, 0.5); 
        padding: 15px;
        z-index: 1; 
        font-size: 3.8em;
    }

    p {
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white; 
        background: rgba(0, 0, 0, 0.5); 
        padding: 15px;
        z-index: 1; 
        font-size: 18px;
        text-align: center;
    }
}

/* Maträtts-meny */

#menu-container {
    width: 70%;
    margin: 10px auto;
    border: 1px solid #000;

    .meal-name {
        font-family:'Times New Roman', Times, serif;
        font-size: 24px;
        color: rgb(3, 95, 45);
    }

    p {
        font-family: 'Courier New', Courier, monospace;
        font-size: 18px;
    }
}


#menu-container h2 {
    text-align: center; 
    color: rgb(0, 95, 43);
    margin-bottom: 25px;
    font-size: 45px;
}

#menu-container ul {
    padding: 0;
    text-align: center; 
}

#menu-container ul li {
    display: block; 
    margin: 30px 10px; 
}
#menu-container p {
    width: 60%;
    margin: 15px auto; 
}


/* öppet-tider */
#open-hours {
    background-color: base.$open-hours;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 25px auto;
    padding: 10px 0;
}

#open-hours h2 {
    margin: 10px 0; 
}

#open-hours ul {
    list-style-type: none;
    padding: 0; 
    margin: 0;  
    text-align: center; 
}

#open-hours li {
    margin: 5px 0;
}

/* Bilder på startsida */
.home-images {
    width: 80%;
    display: flex;
}

/* Bilder på om-sida */
.about-images {
    width: 80%;
    display: flex;
}

/* Bild-inställningar */
.gallery {
    flex-basis: calc(50% - 20px);
    padding: 10px 50px;
    width: 50%;
    margin-bottom: 20px;

    .homeImage {
        max-width: 100%;
        height: auto;
    }
}

/* Om-sida */
#about {
    width: 60%;
    margin: 0 auto;
}

/* Logga in-sida */
#login-container {
    width: 450px;
    margin: 10px auto;
    text-align: center;
    background-color: #2c3f19;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#login-container h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

/* Admin-"meny" */
.admin-start {
    width: 80%;
    margin: 10px auto;
    display: flex;            
    align-items: center;      
    justify-content: space-between; 

    h2 {
        flex: 1;              
        text-align: center;   
    }

    button {
        flex: 0 1 auto;       
        margin: 0 10px;      
        border: 1px solid #000; 
    }

    ul {
        list-style-type: none;
        display: flex;        
        margin: 0;
        padding: 0;

        li {
            margin: 0 10px;  
            padding: 10px 25px;
            background-color: #455f81;
            border-radius: 8px;
            border: 1px solid #000;
        }
        a {
            color: #ffffff;
            text-decoration: none;
        }
    }
}

.admin-start li:hover {
    background-color: #19203f;
}

/* Admin paragrafer */
.admin-text {
    width: 80%;
    margin: 25px auto;
    text-align: center;
}

// Knappar
// Logga in-knapp
#submit-login {
    @include component.button;
    background-color: #7a6426;
    border: 1px solid #000;
 
}
 #submit-login:hover {
     background-color: #664c05;
 }

// Logga ut-knapp
#log-out {
    @include component.button;
    background-color: #683333;
}
    #log-out:hover {
        background-color: #811010;
}

// Lägg till maträtt-knapp
#newMeal {
    @include component.button;
    background-color: #2c3f19;
    align-self: flex-end;
  }

  #newMeal:hover {
    background-color: #192b07;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

  // Spara redigerad maträtt-knapp
  #editMeal {
    @include component.button;
    background-color: #22273a;
  }

  #editMeal:hover {
    background-color: #19203f;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }

// Redigera och ta bort-knappar i meny container
  #menu-container button {
    @include component.button;
    background-color: #5f5627;
    margin: 25px 25px;
}

#menu-container button:hover {
    background-color: #615200;
}
// Skapa ny användare-knapp
#userForm button {
    @include component.button;
    background-color: #526245;
}

#userForm button:hover {
    background-color: #22271e;
}

// Recension-knapp
#revSave {
    @include component.button;
    background-color: #192b07;
    margin-top: 25px;
}

// Recensioner
#review-container {
    width: 70%;
    margin: 0 auto;
}

 // Lögg till svart linje mellan recensionerna
 #review-container>div {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 20px;
 }

 // Skicka meddelande-knapp
 #submit-message {
    @include component.button;
    background-color: #2b2f3f;
 }

 #submit-message:hover {
    background-color: #19203f;
 }


/* Footer */
#footer-container {
    display: flex;
    justify-content: space-evenly;
    flex-shrink: 0;
    background-color:#1F1F1F;
    font-size: 16px;
    width: 100%;
    height: 200px;

    .footer-row li a, .footer-row li {
        list-style: none;
        padding: 0;
        line-height: 2.4rem;
        text-align: left;
        color: base.$footer-links;
    }
}

// Media queries

@media only screen and (max-width: 700px) {

    .topnav .dropdown-menu {
        display: none; /* Dölj menyn som standard */
        flex-direction: column;
        height: auto;
    }

    .topnav .dropdown-menu.show {
        display: flex; /* Visa menyn när klassen "show" är tillagd */
    }

    .topnav .menu-button {
        display: block; /* Visa meny-knappen */
        float: left;
        background-color: base.$main-color;
        color: #fff;
        padding: 25px 35px;
        border: none;
        font-size: 24px;
    }

    header {
        position: relative;
        height: auto;
        background-color: base.$main-color;
    }

    .topnav .dropdown-menu a {
        width: 100%;
        padding: 10px;
        font-size: 18px;
        text-align: center;
        background-color: base.$main-color;
    }

    header img {
        display: none;
    }

    #container h1 {
        position:relative;
        font-size: 1.5em;
        text-align: center;
        z-index: unset;
        top: unset;
        transform: none;
        left: 0;
    }

    #container p {
        position: relative;
        font-size: 16px;
        z-index: unset;
        top: unset;
        margin-top: 20px;
        transform: none;
        left: 0;
    }

    #menu-container {
        width: 100%;
        margin: 0 auto;
        border: none;
        padding: 2px 25px;

        p {
            font-size: 16px;
            width: 100%;
        }
    }

    .home-images, .about-images {
        width: 100%;
        flex-direction: column;

        .gallery {
            width: 100%;
            padding: 5px 5px;
        }
    }

    // Om, recensioner, kontakt, skapa användare
    #about, #review-container, #reviews, #contact, #userForm {
        width: 100%;
        padding: 2px 20px;
    }

    #addReview {
        input[type="radio"] {
            margin-top: 16px;
            width: 10px;
        }
    }

    #revSave, #submit-message {
        width: 100%;
    }

    #messageForm {
        width: 100%;
    }

    // Logga in-sida 
    #login-container {
        width: 100%;
        margin: 0 auto;
        border-radius: 0;
    }

    // Admin-meny
    .admin-start {
        flex-direction: column; 
        align-items: flex-start; 
    }

    .admin-start ul {
        width: 100%; 
        display: flex;
        flex-direction: column; 
    }

    .admin-start ul li {
        width: 100%; 
        margin: 10px 0; 
        text-align: center;
    }

    .admin-start h2 {
        text-align: center; 
        margin-bottom: 20px; 
    }

    #log-out {
        margin-top: 25px;
    }

    .admin-text {
        width: 100%;
        padding: 5px 10px;
    }

    // Lägg till maträtt formulär
    #new-meal {
        border: none;
        padding: 0;
    }

    // Lägg till maträtt-knapp, spara redigerad maträtt-knapp, skapa konto-knapp
    #newMeal, #editMeal, #submit-user {
        width: 100%;
    }

    // Footer
    #footer-container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 500px;

        li {
            margin-right: 30px;
        }
    }
}


@media only screen and (max-width: 1200px) and (min-width: 800px) {
    #container {
        position: relative;
        width: 100%;
        margin-top: 8%;
        padding: 10px 10px;
    
        img {
            width: 100%;
            height: auto;
        }
        h1 {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; 
            background: rgba(0, 0, 0, 0.5); 
            padding: 15px;
            z-index: 1; 
            font-size: 2em;
        }
    
        p {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; 
            background: rgba(0, 0, 0, 0.5); 
            padding: 15px;
            z-index: 1; 
            font-size: 16px;
            text-align: center;
        }
    }

    .home-images, .about-images {
        width: 100%;
        flex-direction: column;

        .gallery {
            width: 100%;
            padding: 5px 5px;
        }
    }

}

@media only screen and (max-width: 801px) and (min-width: 700px) {
    #container {
        position: relative;
        width: 100%;
        margin-top: 8%;
        padding: 10px 10px;
    
        img {
            width: 100%;
            height: auto;
        }
        h1 {
            position: absolute;
            top: 30%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; 
            background: rgba(0, 0, 0, 0.5); 
            padding: 15px;
            z-index: 1; 
            font-size: 1.8em;
        }
    
        p {
            position: absolute;
            top: 65%;
            left: 50%;
            transform: translate(-50%, -50%);
            color: white; 
            background: rgba(0, 0, 0, 0.5); 
            padding: 15px;
            z-index: 1; 
            font-size: 16px;
            text-align: center;
        }
    }

}